body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/Backgraund.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    float: left;
    height: 70px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 450px;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
    text-align: center;
}

main p {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
